<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/1/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/1/clock/0/plot" value="false" />
    <add key="/nvidiagpu/1/clock/1/plot" value="false" />
    <add key="/nvidiagpu/1/clock/2/plot" value="false" />
    <add key="/nvidiagpu/1/load/0/plot" value="false" />
    <add key="/nvidiagpu/1/load/1/plot" value="false" />
    <add key="/nvidiagpu/1/load/2/plot" value="false" />
    <add key="/nvidiagpu/1/load/3/plot" value="false" />
    <add key="/nvidiagpu/1/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/1/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/1/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/1/load/4/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/level/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="686" />
    <add key="mainForm.Location.Y" value="220" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/factor/0/plot" value="false" />
    <add key="/hdd/1/factor/0/values" value="H4sIAAAAAAAEAOs1zJlWeum6x9rCi/YArEsuZQwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAOs1zJlWeum6BwODrhMAIyuhGQwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAOs1zJlWeum6R2TaLicARMD+3QwAAAA=" />
    <add key="/hdd/1/data/0/values" value="H4sIAAAAAAAEAOs1zJlWeum6h8/ffjcAVzYj7gwAAAA=" />
    <add key="/hdd/1/level/0/values" value="H4sIAAAAAAAEAOs1zJlWeum6BwPDAicAJc2MlwwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAPvAmTqt9NJ1jxDhq44AeZWb0gwAAAA=" />
    <add key="runWebServerMenuItem" value="true" />
    <add key="/nvidiagpu/1/smalldata/3/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwYGBtcdS9+nMoDBgf+91X2MEDaD61vn9U4wNgDq9ntHMAAAAA==" />
    <add key="/nvidiagpu/1/smalldata/2/values" value="H4sIAAAAAAAEADseVfmr5NJ1D4b5rc47lr5PZQCDA/97q/sYwcyXHc5MJ8OYwKKyXc7nijLB7AauTmf+0GgI26jT+eXZJAhbqdN56xELdhj7VFkIRLyp03nN0nAw+4Flu/PnrRVgNsPrFueVjZEQtnyz86HjWRD28SZnnccREPb1JudNWxLg7H0ZELsYBJudX4qlQ9j+zc5bX0HVpDc7L9OKhbALm5wr9aFqpjc7W31SYYex17JD3M+wvdmZX70EwjZucubyDIKwzzc576pOgbAtm503p0DN1292vhYL1Rvc7AwAut1Cp0QBAAA=" />
    <add key="/nvidiagpu/1/smalldata/1/values" value="H4sIAAAAAAAEADseVfmr5NJ1D4cZ91x2LH2fygAGB/73VvcxgllH77ownQxjArEnVNx1OVeUCWYn7L3rwh8aDWFvvuvy8mwShL39rsvWIxbsMPapshCI+Py7LmuWhoPZHYb3XD5vrQCzHY7ec1nZGAlhW9x3OXQ8C8L2u++i8zgCwva677JpSwKcvS8DYtcB6/suL8XSIeI69122voKqUbvvskwrFqIm+b5LpT5UjdR9F6tPKuww9lp2iPsdhO678KuXQNjF9124PIMgbJ/7LruqUyDmGN532ZwCNd/kvsu1WKhe7fsuACHRp+BEAQAA" />
    <add key="/nvidiagpu/1/load/4/values" value="H4sIAAAAAAAEADseVfmr5NJ1j4ITAY47lr5PZQCDA/97q/sYQSyBN6GOTCfDmEDsmnPhjueKMsHsDIUwR/7QaDD7RVyY48uzSRC2a5jj1iMW7DD2qbIQiPjtMMc1S8PB7DyvYMfPWyvAbIP1/o4rGyPB7IIHPo6HjmeB2R/CfBx1HkdA2Pk+jpu2JMDZ+zIgdk045eP4Uiwdolfb13HrK6iaAF/HZVqxEDUXvB0r9SFqPsz2dbT6pMIOY69lh7j/w1lfR371EjB7Q763I5dnEMTMZB/HXdUpYLYAp6/j5hSI+QU/fRyvxUL0bjD0dQQAWYhyDUQBAAA=" />
    <add key="/nvidiagpu/1/load/3/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwYg2LH0fSoDGBz431vdxwhhN9gxnQxjgrLtzxVlQtkMDPyh0TBxu5dnk2Di9lNuZsLF+Q7GwNULaxXBxU+VhcDVz60Lh7EdmO5WQNkO9isbI+F6Dx3PguvVeRwBF9+0JQHO3peRBNf7Uiwdbv7WV3A19su0YuFqKvXT4WYe046Hm1Ny7CgLjL2WPRqunl+9BK6GyzMIrndXdQqcvTkFYde12Gg4GwDujVujaAEAAA==" />
    <add key="/nvidiagpu/1/load/2/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwYg2LH0fSoDGBz431vdx8gABW+d1zvB2ABYVExcMAAAAA==" />
    <add key="/nvidiagpu/1/load/1/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwYGAYcdS9+nMoDBgf+91X2MEDaLI9PJMCYI+4TDuaJMKJvBgT80Gso+4PDybBKUvcNhyk2YmhUOfAdjoOwFDsJaRVD2BodTZSFw9XPrwmFmOjLdrYCLr2yMhOtdEK/CDmPvy0hC2CuWDrdr66sEuPplWrFwcyr1EWqOacfD1ZQcO8oCY69lh/mFxZFfvQSuxre9iBPGBgDBJp3jLAEAAA==" />
    <add key="/nvidiagpu/1/load/0/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwaGA/Y7lr5PZQCDA/97q/sYIewLDkwnw5gg7B8O54oyoewGe/7QaChbweHl2SQoO8Fhyk2YmgX2fAdjoGwGBmGtIhjb4VRZCJQd4DC3LhzK5nBkulsBN3NlYySU7WB/6HgWnK3zOALmBrtNWxLg5u/LSIKb+VIsHcp+YL/1VQKcvUwrFmaOQ6V+Otydx7Tj4WZGzEuCs2U0kuHmr2WH+feFA796Cdw9XJ5BcH/tqk6Bm7k5JQGu5lpsNDzcAFg+GtZ0AQAA" />
    <add key="/nvidiagpu/1/clock/2/values" value="H4sIAAAAAAAEADseVfmr5NJ1j0r5JS47lr5PZQCDA/8dJXsYIex2Zz/tSCYQ65qUrsu5okwwu0twvwt/aDSYzXhghfPLs0lMMPUyu55ww9hMdysg4g6znZdEQcxhZFjkvLRNhR3G3peB0DuP8QQLjL1MKxYsfth1snPlzLUCMPau6hSweJDJBOfNKQlwvddio+FsAGuSb73YAAAA" />
    <add key="/nvidiagpu/1/clock/1/values" value="H4sIAAAAAAAEADseVfmr5NJ1D8aE+S47lr5PZQCDA/8dJXsYQSzGhlPOftqRTCA204YSl3NFmWA244FbLvyh0UwwNXybJ1vD2AAimO9/VAAAAA==" />
    <add key="/nvidiagpu/1/clock/0/values" value="H4sIAAAAAAAEADseVfmr5NJ1j0p5FZcdS9+nMoDBgf+Okj2MEDa7s592JBOIdU1qrfO5okwwu0vQ3oU/NBrMZjyg4fzybBITTL3MrifcMDbT3QqIuIO085IoiDmMDErOS9tU2GHsfRkIvfMYT7DA2Mu0YsHih12FnStnrhWAsXdVp4DFg0wEnDenJMD1XouNhrMBswY2XNgAAAA=" />
    <add key="/nvidiagpu/1/fan/0/values" value="" />
    <add key="/nvidiagpu/1/temperature/0/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwaGHKcdS9+nMoDBgf+Okj2MEHack592JBOEnex0rigTyi504g+NhrJTnV6eTYKyk5ym3ISpSXBSfH2OBcY+VRYCFY93mh99gQXGXhIFMz/W6fPFwyww9qYtCVDxGKeZfRsEYGwZjWSoeLTT4gdRcDWSfiVwcS7PILj4ruoUuPjmFJiZkU5nzWDuj3ICAJnZd/MIAQAA" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwYGBteq3e9SGcDgwP965l5GCJvB1aB+oxOMDQALelJaMAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEADseVfmr5NJ1D4b5rc5Vu9+lMoDBgf/1zL2MYObLDmc/7UgmsKhsl/O5okwwu4Gr05k/NBrCNup0fnk2CcJW6nTeesSCHcY+VRYCEW/qdJ4aHg5mP7Bsd+ZiqQSzGV63OC+JgpjPIN/sfPxdFoR9vMlZ53EEhH29yXnTlgQ4e18GxC4GwWbnl2LpELZ/s/PWV1A16c3Oy7RiIezCJudKfaia6c3OVp9U2GHsOTujIOLbm50VSksgbOMmZy7PIAj7fJPzruoUCNuy2XlzCtR8/Wbns2YQvzMENzsDAH0MO8FEAQAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEADseVfmr5NJ1D4cZ91yqdr9LZQCDA//rmXsZwayjd138tCOZQOwJFXddzhVlgtkJe++68IdGQ9ib77q8PJsEYW+/67L1iAU7jH2qLAQiPv+uy9TwcDC7w/CeCxdLJZjtcPSey5IoiPkOFvddjr/LgrD97rvoPI6AsL3uu2zakgBn78uA2HXA+r7LS7F0iLjOfZetr6Bq1O67LNOKhahJvu9SqQ9VI3XfxeqTCjuMPWdnFERc6L6LQmkJhF1834XLMwjC9rnvsqs6BWKO4X2XzSlQ803uu5w1g/jdQfu+CwDmAN6GRAEAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEADseVfmr5NJ1j4ITAY5Vu9+lMoDBgf/1zL2MIJbAm1BHP+1IJhC75ly447miTDA7QyHMkT80Gsx+ERfm+PJsEoTtGua49YgFO4x9qiwEIn47zHFqeDiYnecV7MjFUglmG6z3d1wSBTG/4IGP4/F3WWD2hzAfR53HERB2vo/jpi0JcPa+DIhdE075OL4US4fo1fZ13PoKqibA13GZVixEzQVvx0p9iJoPs30drT6psMPYc3ZGQcTP+joqlJaA2RvyvR25PIMgZib7OO6qTgGzBTh9HTenQMwv+OnjeNYM4vcNhr6OAJ5ZC2tEAQAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwaGBruq3e9SGcDgwP965l5GCLvBzk87kgnGPleUCWUzMPCHRsPFX55NgonbT7mZCRfnOxgDVy+sVQQXP1UWAlc/NTwcxnbgYqmEi88xjoTrPS+aDder8zgCLr5pSwKcvS8jCeEesXQo28F+6yu4GvtlWrFw8Ur9dLj6Y9rxcHMi5iHMkdFIhovP2RkFE7dXKC2Bi3N5BsHVW4krsMPYALoxODVcAQAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwYgyJ3yLpUBDA7879HqZWSAAoP6jU4wNgB+X4WBMAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwYgyJ3yLpUBDA7879HqZWSAgsl/eIVh7Knh4UxQpj0XSyWMzfBv+kQZGHvOziioeIOdQmkJXI1LQhEnjA0Ak3sVWXgAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwaGBvvcKe9SGcDgwP8erV5GCLvB3k87kgnCXmB/rigTymaw5w+NhrIb7F6eTYKyH9hPuQlT02DPdzAGpp5BWKsIrvdUWQiUfcB+ang4lB3gwMVSCRefYwyz18H+vGg2XK/O4wi4mZu2JMDZ+zKS4Pa+FEuHm7P1VQKcvUwrFu6XSv10uPpj2vFwv0TMg5tjJ6ORDDd/zs4oGNtBobQE7h4uzyAoW8BhV3UK3MzNKXC32Z81i4b7BQBEVsm1dAEAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEADseVfmr5NJ1j61tE1xyp7xLZQCDA/97tHoZIex2Zz/tSCYQK/Ostcu5okwwG6SePzQazGZseOr88mwSE0y9zD4DSxgbAMCJ79VgAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEADseVfmr5NJ1D8aE+S65U96lMoDBgf89Wr2MIBZjwylnP+1IJhCbaUOJy7miTDAbpJ4/NJoJpoa1Z7I1jA0AwQAiwFQAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEADseVfmr5NJ1j61tAi65U96lMoDBgf89Wr2MEDa7s592JBOIlXl2t/O5okwwG6SePzQazGZsSHV+eTaJCaZeZp+BJYwNAEyjQhlgAAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwYGXafcKe9SGcDgwP8erV5GCFvByU87kgnCVnI6V5QJZas78YdGQ9mKTi/PJjHB1E+5mQln8x2MgbLlnYS1iqBsGafIS98NYWwA+U/XpoQAAAA=" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAOs1zJlWeum6R0XWficAPgUdsQwAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAOO+05dUeum6x5UJRx0+zgpgYgACvvJjDhnOBWC2RegJh0lbk8HsaXUnHOw7UsDsB4dOODR2RYPZfZonHbarpoLZMZ0nHMTeQvRO23DCoUXdHcx2yz7pUGKdD2aHZZxwsGtKArOjzE86zJRPALNb5p90MDmZCGb7zDrpIPstG8zWYjjpcDYQYpdL9EmHwMcQ9oSUkw7lUHN6nE86vLmVBmZziZ90iAuBuKeo6aRDPwfE/HeTTzos2ABhzxA+6SDiDHHPhj0nHS4nhIPZHddPOmzRheg1OXfSYemCOIi/FpxyEK6NB7MPCJx2SFkOsXfT59MOE1IhZvaxn3FImwsRT7p72gEAJ6AhpVwBAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAOO+05dUeum6h+ptKaePswKYGIBgVr+0U4ZzAZidxibrNGlrMph9SU3Wyb4jBcyOiJF1auyKBrOvrJF12q6aCma76Ms6ib2F6GXyk3VqUXeHqH8g61RinQ9mJ4rKOtk1JYHZS7fLOs2UTwCzvTjlnExOJoLZJqxyTrLfssHspB5Zp7OBELtOX5Z1CnwMYYvelnUqh5pjclDW6c2tNDA7cJ6sU1wIxD1Nn2Sd+jkg5psyyDkt2ABhz5st6yTiDHGPuoKc0+WEcDDbyFTOaYsuRO8jXTmnpQviwOw5l+SchGvjwezNWvJOKcsh9k6/I+80IRVipvobeae0uRBxydPyTgA5zmXhXAEAAA==" />
    <add key="/nvidiagpu/1/control/0/values" value="" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEADseVfmr5NJ1DwYg4Ph7OZUBDA78/3hwOSMDFChFbHSCsQEoeJToMAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADseVfmr5NJ1Dx1rRieOv5dTGcDgwP+PB5czgljn/S85+mlHMoHYIsw7HM8VZYLZq3+sd+QPjQaz1es3Or48mwRmK01c4TjlJkTNl7mrHfkOxoDZC1IXOgprFYHZMz7OczxVFgJmc5isc5w/JQzMXqu32ZHheCWY3fFmnWMfD8TePpEVjndtssHsvd/mO+o8jgCz/06Y7rhpSwKYfSdxnuO+DIgbYhRWOb4USwezQ5iOOW59BVGj0brVcZlWLJh96Nwix0p9iJplc1Y5HtOOh/ixpMExYh7EnN0zyhxlNJLBbO2tPY4TJ0WB2b/3b3bUnlMCZn+UuOXI5RkEZq9huuu4qzoFzHaZtNxxcwrE3oKahY77+SFhNYtnqSMA8GldT3QBAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADseVfmr5NJ1jz9v5Zw4/l5OZQCDA/8/HlzOCGKtTWV38tOOZAKxFwR9cTxXlAlmz49668gfGg1mf1r0zvHl2SQwO0bnqeOUmxA1l1+8cOQ7GANmH9l511FYqwjMjoq67XiqLATMnrjgleP8KWFgdlriR0eG45Vg9s9dbxz7eCD2ztv3xPGuTTaYzcdzx1HncQSYfU/9suOmLQlgdt7TW477MiBu2P/jmeNLsXQw+wQbo9PWVxA1YtyfHJdpxYLZ/x7fc6zUh6hhe//M8Zh2PJjtMWWXY8Q8iDnaiVsdZTSSwWwVpxOOEydFgdnlMh8cteeUgNlWOdxOXJ5BYPaXczxOu6pTwOy+mseOm1Mg9l5MvOu4nx8SVvGpDx0BIqe+OHQBAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEADseVfmr5NJ1j11d7q4cfy+nMoDBgf8fDy5nBLEKclxc/bQjmUDsb53urueKMsHs70A2f2g0XPzl2SQ4e8pNhBq+gzFwcWGtIjj7VFkIXM386AssMHYfD8Suc9kurndtsuHqdR5HgNk/gOxNWxLg4vsykuDmvBRLB7O/AtlbXyHUyEcdYYGxj2nHw82JmIdws4xGMtzeiZOi4OLvE7TZYezNKQlwu/bzI/wOAHWv6DZEAQAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEACv/Ufar5NJ1j11d7q4R8ddSGcDgwP/wv4sYQazFQPG5vdFMIPa3TnfXG09SwOzvQDb343i4+P2zSXC2m0gqXE1UWyJcvDw1F87OtI6Eq2GdfpoFxk7ZBzHzXLaL63z/TLj6SXIhYPYPIDurMhUuHsaWADfHrBKi/iuQLfY6Aa5mb+QRFhhb51QM3Jz3cxBuDtNMhts7kQPhr10+muwwtlYKwq4WlVi4GgDgMlFORAEAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEANOcVvKr5NJ1j11d7q7LDt5IZQCDA/93WsxjBLEWA8VfvY9lArG/dbq7pj1NAbO/A9kFj+Lh4p/PJsHZTiKpcDVxbYlw8YLUXDg7xzoSrubqnig4W+9WAZjNLenp6mUZDVdfWJQNZz9pCAOzfwDZHpWpcHFZ9gS4OVyVmWD2VyDb8FUCXI1c1BEWGNv4VAzcnKdzEO5/XfuaG25XCsLMfRYI/wIAHQyxFjgBAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAHtlXPSr5NJ1j11d7q5PlW+nMoDBgf8512YzgliLgeKv38cygdjfOt1dbz5JAbO/A9lsj+Ph4i/PJsHZLiKpcDXpbYlw8fTUXDg73zoSrobnYgycvTA5B8zmlvR0XTAbYe+Lomw4O6UhDMz+AWRPq0iFi2uwJ8DN2VKZCWZ/BbJNXiXA1Zz7fpAFxq7QiYeb82YOwv0L6l5zw9gGKQgzv/kg/AIAu2PotDgBAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADseVfmr5NJ1j11dx504/l5OZQCDA/8/HlzOCGItBor7aUcygdjfOo87nSvKBLO/A9n8odFw8Zdnk+DsKTcRavgOxsDFhbWK4OxTZSFwNfOjL7DA2H08CLvu2mTD2TqPI8DsH0D2pi0JcPF9GUlwc16KpYPZX4Hsra8QauSjjrDA2Me04+HmRMxDuHmO9EtuGHtzSgLczP38CD8CAGUeNSYsAQAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAJt8Mf9XyaXrHgwN65xs2u6mMoDBgf+qJTMZwcyGlU733scyQcSXO/U+TYGylzqFPYqHsBtWOL08mwRlL3EyE0mFshc7pbUlQtlLnUpSc+F6860joezFTmoFcVD2IqfeI1lw9ozZsXA1b4qy4eIxDWFQ9kKncLFkuHhBJswNC502VWZCxZc5mbxKgJuzSgtqZsMiJ6WzKXB2kw7ML/OcPs6BmsMwz+mXBtT8hgVOD58lwdXzN6dD2cudvudD/dKwyqmjOgVuV2JKAtxteonJcDcDABPcDht0AQAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAJt8Mf9XyaXrHgwMy5xs2u6mMoDBgf+qJTMZIeylTvfexzKBmQ0LnHqfpkDZi53CHsVD2AwLnV6eTYKrMRNJhYovckprS4Sy5zqVpObCxeVuhkHZC5zKLyVA9c5xsknKgIrPcXr5F2b+PCdxgUw42/BxBNzMcLFkqN6FTgWZCDdsqsyEu+1Jexxcza8eqJkN85yUzsL8Mt+pSQchPtMK6h6GWU5B3alwex8+g5k/14m/OR3ul+/5kVD2fKeO6hS4vxJTEuDu1EtMhqsBAHEyHIp0AQAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAJt8Mf9XyaXrHgwNa5xs2u6mMoDBgf+XBaczQtjLnQyCEpjAzIalTu7NSVD2Aqc5LlA2wzKnl2dh7MVO3zfC1CxyWvoiGSq+0MnhDoy9xCkoCWFmcguUzbDIKWBDBlR8odP82bFQ9jyns2vToOw5TkeXx8LZW7fA9M50csxMgotniqVDxec4/fNJhrNXaMH0zneyyYa5eZ7Trg8wNROdZlrBzJzldE0jGc6WfA5TP9/pfxPM/OVO3peioWYuc+qoToG7JzElAe5+vUSYOTOcAM9oLdR0AQAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAJt8Mf9XyaXrHgwNa5xs2u6mMoDBgf/t66cwgpkNK51qtiQxQcQXOLk3Q9kN85zmuMDE5zq9PAtjz3f6vhHBjmtLhKvRv5MMZU9zCk9KgJoz32nbM5iZc50CNmRA1Sx0mj87Fsqe4/TbOwXKnu00nROmd5rT1i1QNsMsJ8dMmDmznDLF0uHmbHyVABf/2hMPd49NNkL9rg8wt/U5zbSCqZ/sdE0jGW6X5HOEf/83Qc1vWOzkfSkaKr7UqaMa6s6G2U6JKTBzpjvpJSbD3QkAX0/6Z3QBAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJt8Mf9XyaXrHgwM651s2u6mMoDBgf/t66cwQthrnWq2JDGBmQ2LndyboWyGuU5zXGDsOU4vz8LY85y+b0SoiWtLhLIXOOnfSYaypzqFJyVAzZzjtO0ZTP18pw2voWoaZjrZJyTB1ei9hJrTMMspJQcmPtlp65YEuHrHTJj4DCfxLSlQM5c6MfvCzJzt9LUnHq7eJjsJbuauDzA1k5xmWkHNZOhxuqYBc/MEJ8nnCD9uVkiFql/qNN0kDspe7tRRDbN3llNiCsycmU56iclwvwAAUv93PHQBAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAJt8Mf9XyaXrHgwMJ5zSLM6nMoDBgf+xfxcxgljyITOdarYkMYHYJgdnObk3Q9hWszqd5rhA2AwH+p1enoWyd3Q4fd8IZS/ocYprSwSzo5lmOunfSYaIS0xyCk9KALN3fO122vYMqj6j12nD62S4OfYJEPGO0ClOei8h5jD86HNKyYGqv9HttHULxByGgIlOjplJcDXiW1Ig7BcrnPa8gqhpypjsZPMeas6MeU422VD1Hl1Ouz5A7VWodZppBTWzosnpmgZU3CHdSfI5VP2HBU6bFVLB7DbTnU7TTeLAbMeERU4d1SlwvySmQM15MMlJLxFqTsQMJwCAO+cEdAEAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAJt8Mf9XyaXrHgwMJ5zSLM6nMoDBgf+xfxcxglihuoudarYkMYHYd8RanNybIWybCRVOc1wgbAaOFqeXZ6HsgFKn7xuh7A/ZTnFtiWC294QkJ/07yRDxBy5O4UkJEHPWFjttewZVr9HutOE1VM2CAif7BIi42R0vJ72XEHMYCtycUnKS4OZs3ZIAtVfLyTETJh7rJL4lBczeOLneac8riJoquzwnm/dQcxg8nGyyEep3fYDaa8DnNNMKauYCHqdrGlBxBSMnyedQ9QopTpsVUsFslb9TnaabxIHZIlMXOnVUp0DVeDslpkDNOaDhpJcINWeDjxMAZjr8zHQBAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAJt8Mf9XyaXrHgwMJ5zSLM6nMoDBgf+xfxcxglglC+ucarYkMYHYEkLVTu7NEHbA7mKnOS4QNkNCoNPLswj2941Q9oJwp7i2RDD7sLWKk/6dZIh4g5JTeFICmP0mNtxp2zOY3iynDa+T4XrtEyDiZ9bYOem9TISqsXBKyUmCm7N1SwKUbe3kmAkVN3BwEt+SAjHfpdVpzyuIGp3uaCeb91BzBGydbLKh6h+UOe36ALV3A6PTTCuomQy/HK9pQMUDtJwkn0PVK3g7bVZIBbN59aY7TTeJA7Obbkx06qhOgbshMQVqzgFHJ71EqDkfLJ0AJ8IYznQBAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAJt8Mf9XyaXrHgwMJ5zSLM6nMoDBgf+xfxcxglipybOdarYkMYHYATaZTu7NELbDQwWnOS4QNoODqdPLs1B2g5LT940wtrVTXFsimP22TslJ/04yRPyAhlN4UgKY3efl57TtGcwcP6cNr2FqHJ3sEyDi2ofcnfReQsxhKNB1SsmBqmcQc9q6BWIOg4KRk2MmVDwgxkl8SwqYrfGtx2nPK4gaS71YJ5v3UHMmGDjZZEPVX/B32vUBau+C644zrWBmnna8pgEVv8DiJPkc5s50p80KqWD2r0PNTtNN4sDsO+/mO3VUp0Dd5uGUmJIADwe9RKg5BupOANkzGQZ0AQAA" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAJt8Mf9XyaXrHgwMJ5zSLM6nMoDBgf+xfxcxglipZ6c61WxJYgKxL9q3OLk3Q9gBEhlOc1wgbIaebKeXZ6HsFXFO3zdC2SJpTnFtiWD2m8thTvp3kqHivk7hSQlgtmdAjtO2Z1D1BRVOG15D1dxJc7JPgIj318Y56b1MhNoV5JSSA1Xv4uq0dQvEHIYlfk6OmQh7xbekgNnWu/uc9ryCqLEsKnayeQ81Z0uMk002VL1HntOuD1B7TeScZlpBzeSQdbqmARVXMHKSfA5VL1HmtFkhFcx+2zHLabpJHJitmz/XqaMaYi9DR7RTYgrUnA9BTnqJUHMWhDsBAPWFF1Z0AQAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAOO+05dUeum6x7oEGcePswKYGIBg4ltpxwznAjC75p+U46StyWD22ZdSjvYdKWD2iuNSjo1d0WB24BQpx+2qqWB21hMpR7G3EL1nL0g5tqi7g9mlxVKOJdb5YPbbL1KOdk1JYHZ2r5TjTPkEMDssUsrR5GQimP0pWspR9ls2mM28UsrxbCDErrJqKcfAxxD2hTIpx3KoOUHtUo5vbqWB2ZPnSjnGhUDccz9dyrGfA2K+YryU44INELbPfClHEWeIew54STleTggHs0NspRy36EL0/nOUcly6IA7MfnVD0lG4Nh7M3rFA0jFlOcRee31JxwmpEDMDVSUd0+ZCxNOtJB0B0yGm3FwBAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADseVfmr5NJ1D5H7sg4cfy+nMoDBgf8fDy5nBLH6PUQc/LQjmUDsu8HiDueKMsHsP+eFHPhDo8HsaVIiDi/PJoHZe9jEHKbchKg5FSXqwHcwBszO8xd3ENYqArMzJgo7nCoLAbMLDgg7zJ8SBmavDpR2YDheCWYXHZFw6OOB2CvhJepw1yYbzI6oF3TQeRwBZncd5nfYtCUBzA4AmrkvA+IGu/9iDi/F0sFsZS8Rh62vIGouOIg4LNOKBbNdDIQdKvUhalacEnQ4ph0PZns1CzhEzIOYI1wv4CCjkQxmP94l6DBxUhSYfXKdmIP2nBIwW6tOyIHLMwjM3sYm5LCrOgXiNkNBh80pEHvPThZx2M8PCSveUlEHAMAVpBR0AQAA" />
  </appSettings>
</configuration>